// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url(https://fonts.googleapis.com/css?family=Exo:100);

$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-width: 100px;
$bg-height: 100px;

/* Animations */

@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@keyframes         bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}

body {
  margin-top: 13.5rem;
  
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;

  background: url($bg-url) repeat 0 0;

  animation:         bg-scrolling-reverse 1s infinite;

  animation-timing-function: linear;
  
  &::before {
    content: "CRYPTOCURRENCY";

    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
  }
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: rgb(0, 0, 0);
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to right, #0099ff, #4f55ff);
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: large;
}

.coin-input::placeholder {
  color: #ffffff;
}